/* src/styles/index.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body.main {
  font-family: "Roboto", sans-serif;
  background-color: #f9f9f9;
  color: #333;
  line-height: 1.6;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 20px;
}

li {
  margin-bottom: 8px;
}

a {
  color: #ff6347;
  text-decoration: none;
}